BASE_IMG_FOLDER=C:/Users/SLR02/Pictures/prueba2/FinalImage
BASE_MASK_FOLDER=C:/Users/SLR02/Pictures/prueba2/FinalImagePPM_Mask
OUTPUT_FOLDER=C:/Users/SLR02/Documents/Doctorado/ITI_2024/pucpr_pibic_semantic_segmentation/output